.table {
  border: 1px solid lightgray;
  width: 100%;
}

.thead {
  text-align: left;
  font-weight: 600;
  background-color: #f6f8fa;
}

.tr {
  padding-left: 1rem;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  height: 4rem;

  td {
    display: flex;
    align-items: center;
    height: 100%;
    &:first-child {
      flex: 1;
    }
    &:last-child {
      flex: 1;
      div {
        button {
          &:first-child {
            margin-right: 0.5rem;
          }
        }
      }
    }
    &:nth-child(2) {
      flex: 4;
    }
  }
}
