.input-style {
    height: 30px;
    padding: 10px;
    border: 1px #d7dbdf solid;
    border-radius: 5px;
}

.input-style:focus {
    box-shadow: 0px 0px 3px 2px #6cbbf7;
    border: 1px #6cbbf7 solid;
    outline: none;
}

.input-title-style {
}

.input-title-style span {
    font-weight: bold;
    margin-bottom: 5px;
}

.input-title-style input {
    height: 15px;
    padding: 10px;
    border: 1px #d7dbdf solid;
    border-radius: 5px;
}

.input-title-style input:focus {
    box-shadow: 0px 0px 3px 2px #6cbbf7;
    border: 1px #6cbbf7 solid;
    outline: none;
}
