.label-custom-container {
  margin: 50px 10% 0 10%;
  padding: 20px;
  border: 1px solid #d9dce0;
  border-radius: 5px;
}

.new-label-form {
  background-color: #f6f8fa;
}

.label-preview {
  display: flex;
}

.label-info {
  display: flex;
  margin: 20px 0;
}

.label-info > div {
  margin: 0 10px 0 0;
}

.label-info .name {
  flex: 1;
  display: flex;
  flex-flow: column;
}

.label-info .desc {
  flex: 3;
  display: flex;
  flex-flow: column;
}

.label-info .color {
  margin-right: 20px;
  flex: 1;
  display: flex;
  flex-flow: column;
}

.label-info .color > div {
  display: flex;
}

.label-info .color > div > .reset-btn {
  width: 35px;
  height: 100%;
  background: url("../images/random-icon.png") no-repeat;
  background-size: 40%;
  background-position: 50%;
  background-color: #bfd4f2;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
}

.label-info .color > div > .color-code {
}

.cancel-btn {
}
