@import "../../../styles";

.toolbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 1rem 0;

  .button-group {
    display: flex;
    button {
      @include toolbar-button;
    }
  }

  .new-label {
    @include toolbar-button;
    color: #fff;
    font-weight: 600;
    background-color: $success;
  }
}
